---
import Cards from "../components/Cards.astro";
import Base from "../layouts/Base.astro";

import { getOffres } from "../backend.mjs";

const offres = await getOffres();
---

<Base titre="Accueil">
  <h1 class="my-10 text-center font-bold text-7xl">Offres</h1>
  <div x-data="{ showFavorites: false }">
    <button
      @click="showFavorites = !showFavorites"
      class="bg-fuchsia-100 text-black font-bold py-2 px-4 rounded-lg border-2 border-fuchsia-800 mx-5"
    >
      <span x-show="!showFavorites">Afficher les favoris</span>
      <span x-show="showFavorites">Afficher tout</span>
    </button>

    <div x-show="!showFavorites" class="grid grid-cols-1 lg:grid-cols-3">
      {offres.map((offre) => <Cards {...offre} />)}
    </div>
    <div x-show="showFavorites" class="grid grid-cols-1 lg:grid-cols-3">
      {
        offres
          .filter((offre) => offre.favori)
          .map((offre) => <Cards {...offre} />)
      }
    </div>
  </div>
</Base>
