<div class="flex justify-center items-center my-10">
  <div class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-pink-100 p-4">
    <img
      class="w-full h-48 object-cover rounded-lg border-1 border-black"
      src="/src/assets/img/Husky1.jpg"
      alt="Husky à vendre"
    />
    <div class="pt-4">
      <h2 class="text-xl font-bold text-gray-700">Adorable Husky à Vendre</h2>
      <p class="text-gray-600 mt-2">
        Ce magnifique Husky de pure race cherche une famille aimante.
        Affectueux, joueur et en excellente santé !
      </p>
      <div class="mt-4">
        <button
          class="bg-sky-200 text-black font-bold py-2 px-4 rounded-lg border-2 border-blue-800"
        >
          En savoir plus
        </button>
      </div>
    </div>
  </div>
</div>
