---
import Facebook from "../assets/icons/IconFacebook.svg";
import Instagram from "../assets/icons/IconInstagram.svg";
import Linkedin from "../assets/icons/IconLinkedin.svg";
---

<footer class="w-full bg-cyan-400 text-center p-4 text-black">
  <p>© 2025, Built with Astro</p>
  <hr class="mx-[20px] mt-3"/>
  <div>
    <p class="mt-2">lacroixeva32@gmail.com</p>
    <div class="flex items-center justify-center gap-5 mt-3">
      <Facebook />
      <Instagram />
      <Linkedin />
    </div>
  </div>
</footer>
