<div class="flex justify-between top-0 w-full bg-pink-800 text-white p-4">
  <nav class="flex flex-col text-2xl">
    <a href="/">Accueil</a>
    <a href="/offres">Offres</a>
    <a href="/agents">Agents</a>
  </nav>
  <img src="/src/assets/img/logo.jpg" alt="logo" class="w-20 h-20 mx-auto" />
</div>