---
import Cards from "../../components/Cards.astro";
import Base from "../../layouts/Base.astro";

import { getOffres } from "../../backend.mjs";

const offres = await getOffres();
---

<Base titre="Accueil">
  <h1 class="my-10 text-center font-bold text-7xl">Offres</h1>
  <ul class="flex justify-center space-x-4">
      <li> <a class="text-black px-4 rounded-lg border-2 border-fuchsia-800 mx-5" href="/offres/surface/80">Voir les offres de plus de 80m² <a/></li>
      <li> <a class="text-black px-4 rounded-lg border-2 border-fuchsia-800 mx-5" href="/offres/prix/250000">Voir les offres de moins de 250 000$ <a/></li>
    </ul>
  <div x-data="{ showFavorites: false, viewMode: 'grid' }">
    <div class="flex space-x-4 my-5">
      <button
        @click="showFavorites = !showFavorites"
        class="bg-fuchsia-100 text-black font-bold px-4 rounded-lg border-2 border-fuchsia-800 mx-5"
      >
        <span x-show="!showFavorites">Afficher les favoris</span>
        <span x-show="showFavorites">Afficher tout</span>
      </button>

      <div class="flex space-x-4 my-5">
        <button
          @click="viewMode = 'grid'"
          :class="viewMode === 'grid' ? 'bg-blue-500 text-white' : 'bg-gray-200 text-black'"
          class="py-2 px-4 rounded-lg border-2 border-blue-800"
        >
          Vue Grille
        </button>
        <button
          @click="viewMode = 'list'"
          :class="viewMode === 'list' ? 'bg-blue-500 text-white' : 'bg-gray-200 text-black'"
          class="py-2 px-4 rounded-lg border-2 border-blue-800"
        >
          Vue Liste
        </button>
      </div>
    </div>

    <div
      x-show="!showFavorites"
      :class="viewMode === 'grid' ? 'grid grid-cols-1 lg:grid-cols-3 gap-4' : 'flex flex-col space-y-4'"
    >
      {offres.map((offre) => <Cards {...offre} />)}
    </div>

    <div
      x-show="showFavorites"
      :class="viewMode === 'grid' ? 'grid grid-cols-1 lg:grid-cols-3 gap-4' : 'flex flex-col space-y-4'"
    >
      {
        offres
          .filter((offre) => offre.favori)
          .map((offre) => <Cards {...offre} />)
      }
    </div>
  </div>
</Base>
